@use "../../responsive" as *;

.profilePage{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow: scroll;
    }

    .details{
        flex: 3;
        overflow: scroll;
        padding-bottom: 50px;

        @include md{
            flex: none;
            height: max-content;
        }

        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-weight: 300;
                }

                button{
                    padding: 10px 30px;
                    background-color: #27c116;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                    color: white;
                }
                
            }

            .info{
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-top: 5%;
                padding-bottom: 5%;

                .btn_container{
                    display: flex;
                    gap: 20px;
                }

                .updateBtn{
                    width: 140px;
                    background-color: #27c116;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }

                span{
                    display: flex;
                    align-items: center;
                    gap: 10px;


                }

                .uname{
                        gap: 20px;
                        font-weight: bold;
                }

                .email{
                        gap: 53px;
                        font-weight: bold;
                }

                .avatar{
                    gap: 44px;
                }

                button{
                    width: 100px;
                    background-color: rgba(208, 17, 17, 0.77);
                    border: none;
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 5px;
                    font-weight: bold;
                }

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .chatContainer{
        flex: 2;
        background-color: #fcf5f3;
        height: 100%;

        @include md{
            flex: none;
            height: max-content;
        }


        .wrapper{
            padding: 0px 20px;
            height: 100%;
        }
    }
}

